<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  -->
   <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <connectionStrings>
    <add name="cn" connectionString="server=DESKTOP-FOAHO5K;database=BdInguiriLubricentroFE;
         integrated security=sspi;"/>
  </connectionStrings>
  
  <appSettings>
     <add key="VidaUtil" value="300" />
     <add key="UrlSunat" value="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService" />
     <add key="RutaArchivosXml" value="D:\ArchivosXML" />
  </appSettings>
 
</configuration>